<% include ./partials/header %>
<h1>Sign up Form</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <button>submit</button>
</form>
<% include partials/footer %>
